!
! **** First lines removed for brevity ****
!
object network myHost
 description mdube's VM in lab
 host 10.0.1.201
!
object network myLAN
 description LAN
 subnet 10.0.1.0 255.255.255.0
object network myDMZ
 description DMZ
 subnet 10.0.2.0 255.255.255.0
!
object service MyInternalPorts
 service tcp source range 1 65535 destination range 49152 65535
 description Client to DCs tcp Ports
!
object-group network MyInternal
 network-object object myLAN
 network-object object myDMZ
!
object-group network MyAdmins
 network-object object myHost
 network-object host 10.0.1.101
!
object-group service MyCustomAppPorts tcp
 description All Web Ports
 port-object range 8194 8198
 port-object range 4209 4220
 port-object eq ldap
!
! ** Currently buggy. TODO: Fix this **
!object-group icmp-type MyICMP
! icmp-object echo
! icmp-object echo-reply
! icmp-object time-exceeded
! icmp-object unreachable
!
!object-group protocol TCPUDP
! protocol-object udp
! protocol-object tcp 
!
access-list lan remark LAN access to internet
access-list lan extended permit tcp object myLAN any4 eq www https
access-list lan extended permit tcp object myLAN any4 eq ftp
access-list lan remark LAN access to DMZ 
access-list lan extended permit tcp object myLAN object myDMZ object-group MyCustomAppPorts
access-list lan remark Admin access
access-list lan extended permit ip object-group myAdmins any4
access-list dmz remark DMZ access to internet
access-list dmz extended permit object MyInternalPorts object myDMZ host 10.0.1.10
access-list outbound remark Internet access
access-list outbound extended permit icmp any4 object-group MyInternal object-group MyICMP
access-list outbound extended permit tcp object-group MyInternal any4 eq www https ftp
!
! **** Last lines removed for brevity ****
!
